p id="file-#{file.id}" class="files__item"
  = link_to file.filename.to_s, url_for(file)
  - if can?(:destroy, file)
    = link_to 'Delete file', file_path(file), method: :delete, remote: true, class: 'files__delete'
